@import url("http://fonts.googleapis.com/css?family=Medula+One");
@import url("http://fonts.googleapis.com/css?family=Varela+Round");
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327-falcon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'icons_refresh';
  src: url("../../fonts/icons_refresh.eot");
  src: url("../../fonts/icons_refresh.eot?#iefix") format("embedded-opentype"), url("../../fonts/icons_refresh.woff") format("woff"), url("../../fonts/icons_refresh.ttf") format("truetype"), url("../../fonts/icons_refresh.svg#icons_refresh") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 25, ../_components/sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icons_refresh';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 42, ../_components/sass/_fonts.scss */
.icon-LOGO-Font, .icon-facebook, .icon-google-plus, .icon-twitter, .icon-feed, .icon-vimeo, .icon-wordpress, .icon-pinterest, .icon-mail, .icon-user, .icon-bubbles .icon-arrow-right {
  font-family: 'icons_refresh';
  color: #FFF;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 53, ../_components/sass/_fonts.scss */
.icon-LOGO-Font {
  color: #fff;
  font-size: 2em;
  vertical-align: -25%;
  text-shadow: 0px -1px #527A1B; }

/* line 1, ../_components/sass/_layout.scss */
.selected {
  background-color: yellow; }

/* line 5, ../_components/sass/_layout.scss */
body {
  background: #e2e2e2;
  font-family: Varela Round, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  height: 100%; }

/* line 14, ../_components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Medula One, cursive;
  line-height: 1;
  margin: 10px;
  text-shadow: white 1px 1px; }

/* line 21, ../_components/sass/_layout.scss */
h1 {
  color: #001f3f;
  font-size: 5rem; }

/* line 26, ../_components/sass/_layout.scss */
h2 {
  color: #0074d9;
  font-size: 4rem; }

/* line 31, ../_components/sass/_layout.scss */
h3 {
  color: #0d8eff;
  font-size: 3rem; }

/* line 37, ../_components/sass/_layout.scss */
h4 {
  color: #40a6ff;
  font-size: 2rem; }

/* line 43, ../_components/sass/_layout.scss */
h5 {
  color: #40a6ff;
  font-size: 1.5rem; }

/* line 49, ../_components/sass/_layout.scss */
h6 {
  color: #40a6ff;
  font-size: 1.25rem; }

/* line 55, ../_components/sass/_layout.scss */
a {
  text-decoration: underline;
  color: white; }
  /* line 58, ../_components/sass/_layout.scss */
  a:hover {
    color: #ff851b; }

/* line 63, ../_components/sass/_layout.scss */
header {
  background: #2ecc40;
  height: 3em;
  margin: 0; }

/* flexbox */
/* line 71, ../_components/sass/_layout.scss */
.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 3em;
  background-color: #dddddd;
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  align-content: stretch;
  justify-content: center;
  margin: auto;
  z-index: 100;
  border: 1px solid red; }

/* line 88, ../_components/sass/_layout.scss */
.wrapper > * {
  padding: 10px;
  margin: auto;
  min-height: 75%; }

/* line 94, ../_components/sass/_layout.scss */
nav {
  background-color: #39cccc;
  width: 20%;
  flex: 1 auto; }

/* line 99, ../_components/sass/_layout.scss */
section {
  width: 20%;
  background-color: #7fdbff;
  flex-grow: 1;
  flex-shrink: 3; }

/* line 105, ../_components/sass/_layout.scss */
aside {
  width: 20%;
  background-color: #001f3f;
  color: white;
  flex: 1 auto; }

/* line 111, ../_components/sass/_layout.scss */
footer {
  width: 100%;
  background-color: #0074d9;
  flex: 1 auto; }

/* line 117, ../_components/sass/_layout.scss */
p {
  margin-bottom: 10px; }

/* pure CSS */
/* line 124, ../_components/sass/_layout.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 3em;
  background-color: #dddddd;
  z-index: 100; }
  /* line 133, ../_components/sass/_layout.scss */
  .overlay .content {
    width: 20%;
    height: 100%;
    background-color: #0074d9; }

/* line 151, ../_components/sass/_layout.scss */
.small {
  font-size: .8rem;
  color: #aaaaaa; }

/* line 156, ../_components/sass/_layout.scss */
ul.monsters li {
  border: 1px solid #ddd;
  border-radius: 10px;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 10px #cccccc;
  -moz-box-shadow: 4px 4px 10px #cccccc;
  box-shadow: 4px 4px 10px #cccccc; }

/* line 169, ../_components/sass/_layout.scss */
ul.monsters li a img {
  float: left;
  width: 100px;
  -webkit-transition: transform 0.2 ease-in-out;
  -moz-transition: transform 0.2 ease-in-out;
  -o-transition: transform 0.2 ease-in-out;
  transition: transform 0.2 ease-in-out; }

/* line 177, ../_components/sass/_layout.scss */
ul.monsters li a:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }

/* line 183, ../_components/sass/_layout.scss */
.boxes {
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color: #FFF;
  background: repeating-linear-gradient(red, orange);
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px; }

/* line 196, ../_components/sass/_layout.scss */
.Rounded_Rectangle_1 {
  border-radius: 10px;
  background-image: -moz-linear-gradient(90deg, #2989cc 0%, white 50%, #c8b580 50%, #906a00 52%, #d99f00 64%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #2989cc 0%, white 50%, #c8b580 50%, #906a00 52%, #d99f00 64%, white 100%);
  background-image: -ms-linear-gradient(90deg, #2989cc 0%, white 50%, #c8b580 50%, #906a00 52%, #d99f00 64%, white 100%);
  position: absolute;
  left: 59px;
  top: 400px;
  width: 357px;
  height: 237px;
  z-index: 2; }

/* line 1, ../_components/sass/_flexbox-page.scss */
.flex-more {
  display: -webkit-flex;
  display: flex;
  border: 1px dotted red;
  margin: 1em 0;
  width: 350px;
  flex-flow: row nowrap; }

/* line 10, ../_components/sass/_flexbox-page.scss */
.more-flex01 {
  webkit-flex: 2;
  flex: 2;
  background-color: #0074d9; }
  /* line 14, ../_components/sass/_flexbox-page.scss */
  .more-flex01 p {
    color: white;
    margin: 1em; }

/* line 21, ../_components/sass/_flexbox-page.scss */
.more-flex02 {
  webkit-flex: 6;
  flex: 6;
  background-color: #39cccc; }
  /* line 25, ../_components/sass/_flexbox-page.scss */
  .more-flex02 p {
    color: white;
    margin: 1em; }

/* line 31, ../_components/sass/_flexbox-page.scss */
.more-flex03 {
  -webkit-flex: 4;
  flex: 4;
  background-color: #ff851b; }
  /* line 35, ../_components/sass/_flexbox-page.scss */
  .more-flex03 p {
    color: white;
    margin: 1em; }

@modules "modules";
