.flex-more {
  display: -webkit-flex;
  display: flex;
  border: 1px dotted $green;
  margin: 1em 2em;
  width: 40%;
  height: 600px;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-more>* {
  border-radius: 3px;
  margin: 0.2em;
    p {
      color: $white;
      margin: 1em;
  }
  background-color: $maroon;
}

.more-flex01 {
  webkit-flex: 2;
  flex: 2;
  background-color: $blue;
}

.more-flex02 {
  webkit-flex: 6;
  flex: 6;
  background-color: $teal;
}

.more-flex03 {
 -webkit-flex: 4;
 flex: 4;
 margin-left: auto;
 background-color: $orange;

}

