.selected {
  background-color: yellow;
}

$primary_color: #8cc63f;
$mycolor: #e2e2e2;

body {
  background: $mycolor;
  font-family: $font-content;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#{headings()} {
  font-family: $font-titles;
  line-height: 1;
  margin: 10px;
  @include text-shadow(white 1px 1px);
}

h1 {
  color: $navy;
  font-size: 5rem;
}

h2 {
  color: $blue;
  font-size: 4rem;
  }

h3 {
  color: lighten($blue, 10%);
  font-size: 3rem;

}

h4 {
  color: lighten($blue, 20%);
  font-size: 2rem;

}

h5 {
  color: lighten($blue, 20%);
  font-size: 1.5rem;

}

h6 {
  color: lighten($blue, 20%);
  font-size: 1.25rem;

}

a

nav {
  background: $green;
  height: 3em;
  margin: 0em 0 3em 0;
  ul>li {
    display: inline-block;
    padding: 1em;
    list-style-type: none;
  }
}

ul.monsters li {
  border: 1px solid #ddd;
  border-radius: 10px;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 10px #cccccc;
  -moz-box-shadow: 4px 4px 10px #cccccc;
  box-shadow: 4px 4px 10px #cccccc; }



ul.monsters li a img {
  float: left;
  width: 100px;
  -webkit-transition: transform 0.2 ease-in-out;
  -moz-transition: transform 0.2 ease-in-out;
  -o-transition: transform 0.2 ease-in-out;
  transition: transform 0.2 ease-in-out; }

ul.monsters li a:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }

  a {color: red;}
  p {color: red;}

.boxes {
  -webkit-border-radius: 2em;
          border-radius: 2em;
    color: #FFF;
    background: repeating-linear-gradient(red, orange);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;

}


.Rounded_Rectangle_1 {
  border-radius: 10px;
  background-image: -moz-linear-gradient( 90deg, rgb(41,137,204) 0%, rgb(255,255,255) 50%, rgb(200,181,128) 50%, rgb(144,106,0) 52%, rgb(217,159,0) 64%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(41,137,204) 0%, rgb(255,255,255) 50%, rgb(200,181,128) 50%, rgb(144,106,0) 52%, rgb(217,159,0) 64%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(41,137,204) 0%, rgb(255,255,255) 50%, rgb(200,181,128) 50%, rgb(144,106,0) 52%, rgb(217,159,0) 64%, rgb(255,255,255) 100%);
  position: absolute;
  left: 59px;
  top: 400px;
  width: 357px;
  height: 237px;
  z-index: 2;
}

