h1 {
  font-family: 'Love Ya Like A Sister', cursive;
}

body {
  font-family: 'Spinnaker', sans-serif;
  font-size: 20px;
  margin: 0;
}

nav {
  background: #000;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 5px;
}

section {
  float: left;
  margin: 24px;
  paddding: 6px;
  width: 50%;
  //@include breakpoint(medium) { width: 60%; }
  //@include breakpoint(medium) { background: cyan; }
}

aside {
  float: left;
  width: 10%;
  padding: 5px;
}