/*
 * application.scss
 *
 * Use @import to include other stylesheets and Compass mixins.
 */
p {
  font-size: 14px;
  font-size: 0.875rem; }

body {
  background: pink; }
  @media (max-width: 1420px) {
    body {
      background: red; } }
  @media (max-width: 1200px) {
    body {
      background: cyan; } }
  @media (max-width: 760px) {
    body {
      background: green; } }

.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0; }
  @media (max-width: 760px) {
    .sidebar {
      width: 100%;
      float: none;
      margin: 0; } }

.wrap {
  width: 500px;
  height: 500px;
  border: 2px solid;
  background-image: url(../../img/pattern.svg); }
  .no-svg .wrap {
    background-image: url(../../img/pattern.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .wrap {
        background-image: url(../../img/pattern@2x.png); } }

@-webkit-keyframes slide-down {
  0% {
    opacity: 1; }

  90% {
    opacity: 0; } }

@-moz-keyframes slide-down {
  0% {
    opacity: 1; }

  90% {
    opacity: 0; } }

@-ms-keyframes slide-down {
  0% {
    opacity: 1; }

  90% {
    opacity: 0; } }

@-o-keyframes slide-down {
  0% {
    opacity: 1; }

  90% {
    opacity: 0; } }

@keyframes slide-down {
  0% {
    opacity: 1; }

  90% {
    opacity: 0; } }

.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  -moz-animation: slide-down 5s 3;
  -ms-animation: slide-down 5s 3;
  -o-animation: slide-down 5s 3;
  animation: slide-down 5s 3; }

a {
  color: gray;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: black; }

.container-with-floated-children {
  *zoom: 1; }
  .container-with-floated-children:before {
    content: " ";
    display: table; }
  .container-with-floated-children:after {
    content: " ";
    display: table;
    clear: both; }

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

h1 {
  font-family: 'Love Ya Like A Sister', cursive; }

body {
  font-family: 'Spinnaker', sans-serif;
  font-size: 20px;
  margin: 0; }

nav {
  background: #000;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 5px; }

section {
  float: left;
  margin: 24px;
  paddding: 6px;
  width: 50%; }

aside {
  float: left;
  width: 10%;
  padding: 5px; }
